.quote {
  color: #333;
  position: relative;
  width: 390px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Satisfy', sans-serif;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px #d6d6d64d;
  background: var(--fds-semantic-surface-warning-subtle-hover);
  border-radius: 6px;
}

.author {
  margin-top: 10px;
}

.deleteBtn {
  position: absolute;
  top: 6px;
  right: 6px;
}
