@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--fds-semantic-background-subtle);
  color: var(--fds-semantic-text-neutral-default);
  margin: 0;
}

* {
  box-sizing: border-box;
}
